* {
    font-family: "Roboto", sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

:root {
    --blueed: #4647e3;
    --blanco: #dcdcdc;
    --violeta: #550548;
    --gris: #e1e3e1;
    --azul: #0c3c68;
    --negro: #2c1e1a;
    --blackgray: #333;
    --comentgray: #4A4A4A;
}

html {
    scroll-padding-top: 25vh;
    scroll-behavior: smooth;
}

body {
    width: 100%;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    min-height: 10vh;
    max-height: 10vh;
    min-width: 100vw;
    max-width: 100vw;
    background-color: var(--violeta);
    z-index: 20;
}

h1 {
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.8rem;
}

h3 {
    text-align: left;
    padding: 10px 5px;
    color: var(--violeta);
    text-transform: uppercase;
}

h4{
    text-transform: uppercase;
    font-weight: bold;
    color: var(--blueed);
}
nav {
    min-width: 100vw;
    max-width: 100vw;
}

.nav-list {
    display: flex;
    justify-content: flex-start;
    min-width: 100vw;
    max-width: 100vw;
    z-index: 10;
    position: fixed;
    list-style: none;
    margin-top: 10vh;
    background-color: lemonchiffon;
    white-space: nowrap;
    overflow-x: auto;
}

.nav-item {
    padding: 15px;
    font-weight: bold;
    color: var(--negro);
    cursor: pointer;
    transition: background 0.5s ease;
}
.nav-item a {
    text-decoration: none;
    color: var(--negro);
}
.nav-item:hover {
    background-color: var(--violeta);
    color: var(--blanco);
}
.nav-item:hover a{
    color: white;
}

main {
    display: flex;
    justify-content: center;
    padding-top: 15vh;
}

.main-container {
    min-width: 90vw;
    max-width: 90vw;
    min-height: 100vh;
}

article {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    margin: 3rem 0px;

}

.article-container {
    padding: 2px;
    text-align: center;
}

.article-header {
    font-size: 1.4rem;
    padding: 10px 0px;
    text-transform: uppercase;
    background-color: var(--violeta);
    color: white;
    margin-bottom: 2vh;
}

.article-text {
    text-align: center;
    hyphens: auto;
    padding: 10px;
    letter-spacing: .5px;
}

.article-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.code-container {
    color: var(--blanco);
    background-color: black ;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    white-space: pre;
    width: 100%;
    overflow-x: auto;
    text-align: left;
    display: flex;
    flex-direction: column;
    margin-bottom: 5vh;
}

.code-container p {
    font-family: 'Courier New', Courier, monospace;
    min-width: 100%;
    max-width: 100%;
    overflow-x: auto;
    line-height: 25px;
}

/* HIDE SCROLLBAR FOR CHROME EDGE MOZILLA */
.hide-scroll::-webkit-scrollbar {
    display: none;
}
.px-2{
    padding: 20px 0px;
}
.comment {
    color: var(--comentgray);
    padding: 5px 0px;
    font-weight: bold;
}

.notes {
    background-color: lemonchiffon;
    margin: 1.5vh 0vh;
    width: 100%;
    border: 1px solid black;
}

@media (min-width: 768px) {
    .nav-list {
        justify-content: center;
        flex-wrap: wrap;
    }

    .main-container {
        min-width: 80vw;
        max-width: 80vw;
    }
}

/* CSS UTILS */
/* Allows to separete words text improvement  */
/* hyphens: auto; */
/* Handle with the letter spacing */
/* letter-spacing: px; */
/* white-space: nowrap; */
/* HIDE SCROLLBAR FOR CHROME EDGE MOZILLA */
/* .hide-scroll::-webkit-scrollbar {
    display: none;
} */
/* Ajusta según la altura del header */
/* html {
    scroll-padding-top: 20vh; 
}
*/